@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
header nav {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .navbarMain {
  background-color: #f5f5f5;
  width: 90%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .navbarMain a img {
  width: 180px;
}
header nav .navbarMain .navbarContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main {
  background-color: #1D1D1D;
}
main #homeSecPopular {
  width: 100%;
  height: 1000px;
}

footer {
  font-family: "Marcellus", serif;
  width: 100%;
  background-color: #f5f5f5;
}
footer #footerSec {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #footerSec .footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer #footerSec .footerContent .containerOne {
  padding: 60px 0;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
footer #footerSec .footerContent .containerOne .contentOne {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent img {
  width: 225px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent p {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.443);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia {
  display: flex;
  gap: 10px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a {
  text-decoration: none;
  color: #f5f5f5;
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a i {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(11, 112, 78, 0.824), rgba(0, 0, 0, 0.4));
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 25px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(11, 112, 78, 0.824), rgba(0, 0, 0, 0.4));
  width: 50px;
  height: 50px;
  border-radius: 20%;
  font-size: 30px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .facebook:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .facebook:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(4, 55, 120, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(4, 55, 120);
  text-shadow: 1px 1px 2px rgb(4, 55, 120);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .linkedin:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .linkedin:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(10, 102, 194, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(10, 102, 194);
  text-shadow: 1px 1px 2px rgb(10, 102, 194);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .instagram:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .instagram:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(244, 10, 154, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(244, 10, 154);
  text-shadow: 1px 1px 2px rgb(244, 10, 154);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .youtube:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .youtube:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(246, 0, 0, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(246, 0, 0);
  text-shadow: 1px 1px 2px rgb(246, 0, 0);
}
footer #footerSec .footerContent .containerOne .contentTwo {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  gap: 25px;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent h3 {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories {
  display: flex;
  justify-content: space-between;
  width: 130%;
  align-items: center;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partOne {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partOne a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partOne a:hover {
  transition: 0.4s;
  text-shadow: 1px 1px 2px rgba(255, 47, 15, 0.6666666667);
  color: #ff2f0f;
  transition: 0.4s;
  border-bottom: 1px solid rgba(255, 47, 15, 0.6666666667);
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partTwo {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partTwo a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partTwo a:hover {
  transition: 0.4s;
  text-shadow: 1px 1px 2px rgba(255, 47, 15, 0.6666666667);
  color: #ff2f0f;
  border-bottom: 1px solid rgba(255, 47, 15, 0.6666666667);
}
footer #footerSec .footerContent .containerOne .contentThree {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  gap: 25px;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent h3 {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent .mapContent {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent .mapContent a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent .mapContent a:hover {
  transition: 0.4s;
  text-shadow: 1px 1px 2px rgba(255, 47, 15, 0.6666666667);
  color: #ff2f0f;
  border-bottom: 1px solid rgba(255, 47, 15, 0.6666666667);
}
footer #footerSec .footerContent .containerTwo {
  width: 100%;
  background-color: #0B704E;
}
footer #footerSec .footerContent .containerTwo .content .textContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer #footerSec .footerContent .containerTwo .content .textContent p {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 0;
  padding: 10px;
}