@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
header nav {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .navbarMain {
  background-color: rgba(245, 245, 245, 0.3333333333);
  width: 90%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .navbarMain a img {
  width: 180px;
}
header nav .navbarMain .navbarContent {
  justify-content: space-evenly;
  align-items: center;
}

main {
  background-color: #1d1d1d;
}
main #homeSecMostPopularScroll {
  width: 100%;
  max-width: initial;
}
main #homeSecMostPopularScroll .banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("/assets/Media/Images/Joker_banner.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: 0.4s;
}
main #homeSecMostPopularScroll .banner .content {
  position: relative;
  max-width: 550px;
  display: none;
  visibility: hidden;
  transform: scale(0);
  transition: 0.4s;
}
main #homeSecMostPopularScroll .banner .content h2 {
  margin-bottom: 30px;
  color: white;
  font-weight: 600;
  font-size: 50px;
  text-shadow: 3px 3px 1px black;
}
main #homeSecMostPopularScroll .banner .content .imdb {
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
main #homeSecMostPopularScroll .banner .content .imdb i {
  color: orange;
  font-size: 3em;
}
main #homeSecMostPopularScroll .banner .content .imdb p {
  font-size: 25px;
  text-shadow: 1px 1px 3px white;
}
main #homeSecMostPopularScroll .banner .content .ma {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
main #homeSecMostPopularScroll .banner .content .ma img {
  width: 50px;
  -webkit-filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white);
}
main #homeSecMostPopularScroll .banner .content .ma p {
  font-size: 25px;
  text-shadow: 1px 1px 3px white;
}
main #homeSecMostPopularScroll .banner .content h3 {
  margin-bottom: 20px;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 2px 2px 1px black;
}
main #homeSecMostPopularScroll .banner .content h3 span {
  padding: 0 10px;
  border-right: 1px solid rgba(245, 245, 245, 0.5019607843);
}
main #homeSecMostPopularScroll .banner .content h3 span i {
  color: red;
  font-weight: 500;
  font-size: 22px;
  text-shadow: 1px 1px 3px red;
}
main #homeSecMostPopularScroll .banner .content p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #f5f5f5;
  line-height: 1.5em;
  margin: 10px 0 20px;
  text-shadow: 2px 2px 1px black;
}
main #homeSecMostPopularScroll .banner .content .button a {
  outline: none;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 6px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 500;
  color: #f5f5f5;
  background-color: #ff2f0f;
}
main #homeSecMostPopularScroll .banner .content .button a:hover {
  text-shadow: 1px 1px 2px black;
  background-color: rgb(172, 1, 1);
}
main #homeSecMostPopularScroll .banner .content .button a:active {
  text-shadow: 1px 1px 2px white;
  background-color: black;
}
main #homeSecMostPopularScroll .banner .content .button a:nth-child(2) {
  outline: none;
  background: rgba(0, 0, 0, 0.5);
}
main #homeSecMostPopularScroll .banner .content .button a:hover:nth-child(2) {
  text-shadow: 1px 1px 2px black;
  background: rgb(11, 112, 78);
}
main #homeSecMostPopularScroll .banner .content .button a:active:nth-child(2) {
  text-shadow: 1px 1px 2px white;
  background-color: black;
}
main #homeSecMostPopularScroll .banner .active {
  display: block;
  visibility: visible;
  transform: scale(1);
}
main #homeSecMostPopularScroll .banner .carouselBox {
  position: relative;
  min-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
main #homeSecMostPopularScroll .banner .carouselBox .carousel {
  position: relative;
  height: 550px;
  perspective: 500px;
}
main #homeSecMostPopularScroll .banner .carouselBox .carousel .carousel-item {
  width: 250px;
  cursor: pointer;
}
main #homeSecMostPopularScroll .banner .carouselBox .carousel .carousel-item img {
  max-width: 235px;
  border-radius: 10px;
  transform: translateX(8px) translateY(-100px);
  object-fit: cover;
  object-position: center;
}
main #homeSecMostPopularScroll .banner .play {
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.2em;
  cursor: pointer !important;
  transition: 0.4s;
}
main #homeSecMostPopularScroll .banner .play i {
  margin-right: 10px;
  font-size: 40px;
  cursor: pointer !important;
}
main #homeSecMostPopularScroll .banner .play:hover {
  color: red;
  transition: 0.4s;
}
main #homeSecMostPopularScroll .banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
main .menuBanners {
  display: none;
  position: relative;
}
main .menuBanners #olafBanner {
  position: fixed;
  top: -35px;
  width: 150px;
}
main .menuBanners #deadpoolBanner {
  position: fixed;
  left: 0;
  top: 50%;
  width: 300px;
}
main .menuBanners #mitsuhaBanner {
  position: fixed;
  right: 0;
  top: 50%;
}
main #homeSecPopular {
  font-family: "Marcellus", serif;
  width: 100%;
  max-width: initial;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.9) 100%);
}
main #homeSecPopular .secContent .containerOne {
  padding: 0 !important;
  margin: 0 !important;
}
main #homeSecPopular .secContent .containerOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #homeSecPopular .secContent .containerOne .content h2 {
  color: white;
  text-shadow: 1px 1px 2px #0b704e;
  font-weight: 500;
}
main #homeSecPopular .secContent .containerOne .content h2 span {
  color: #0b704e;
  text-shadow: 1px 1px 2px white;
}
main #homeSecTrend {
  font-family: "Marcellus", serif;
  width: 100%;
  max-width: initial;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.9) 100%);
}
main #homeSecTrend .secContent .containerOne {
  padding: 0 !important;
  margin: 0 !important;
}
main #homeSecTrend .secContent .containerOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #homeSecTrend .secContent .containerOne .content h2 {
  color: white;
  text-shadow: 1px 1px 2px #0b704e;
  font-weight: 500;
}
main #homeSecTrend .secContent .containerOne .content h2 span {
  color: #0b704e;
  text-shadow: 1px 1px 2px white;
}
main #homeSecNewFilms {
  font-family: "Marcellus", serif;
  width: 100%;
  max-width: initial;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.9) 100%);
}
main #homeSecNewFilms .secContent .containerOne {
  padding: 0 !important;
  margin: 0 !important;
}
main #homeSecNewFilms .secContent .containerOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #homeSecNewFilms .secContent .containerOne .content h2 {
  color: white;
  text-shadow: 1px 1px 2px #0b704e;
  font-weight: 500;
}
main #homeSecNewFilms .secContent .containerOne .content h2 span {
  color: #0b704e;
  text-shadow: 1px 1px 2px white;
}
main #homeSecFilmSeries {
  font-family: "Marcellus", serif;
  width: 100%;
  max-width: initial;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.9) 100%);
}
main #homeSecFilmSeries .secContent .containerOne {
  padding: 0 !important;
  margin: 0 !important;
}
main #homeSecFilmSeries .secContent .containerOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #homeSecFilmSeries .secContent .containerOne .content h2 {
  color: white;
  text-shadow: 1px 1px 2px #0b704e;
  font-weight: 500;
}
main #homeSecFilmSeries .secContent .containerOne .content h2 span {
  color: #0b704e;
  text-shadow: 1px 1px 2px white;
}
main #homeSecRecommandedFilms {
  font-family: "Marcellus", serif;
  width: 100%;
  max-width: initial;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.9) 100%);
}
main #homeSecRecommandedFilms .secContent .containerOne {
  padding: 0 !important;
  margin: 0 !important;
}
main #homeSecRecommandedFilms .secContent .containerOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #homeSecRecommandedFilms .secContent .containerOne .content h2 {
  color: white;
  text-shadow: 1px 1px 2px #0b704e;
  font-weight: 500;
}
main #homeSecRecommandedFilms .secContent .containerOne .content h2 span {
  color: #0b704e;
  text-shadow: 1px 1px 2px white;
}
main #homeSecRecommandedFilms .secContent .containerTwo {
  padding: 0 !important;
  margin: 0 !important;
}

footer {
  font-family: "Marcellus", serif;
  width: 100%;
  background-color: #f5f5f5;
}
footer #footerSec {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #footerSec .footerContent {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  max-width: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer #footerSec .footerContent .containerOne {
  padding: 0 !important;
  margin: 0 !important;
  padding: 60px 0;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
footer #footerSec .footerContent .containerOne .contentOne {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent img {
  width: 225px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent p {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.443);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia {
  display: flex;
  gap: 10px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a {
  text-decoration: none;
  color: #f5f5f5;
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a i {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(11, 112, 78, 0.824), rgba(0, 0, 0, 0.4));
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 25px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia a:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(11, 112, 78, 0.824), rgba(0, 0, 0, 0.4));
  width: 50px;
  height: 50px;
  border-radius: 20%;
  font-size: 30px;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .facebook:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .facebook:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(4, 55, 120, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(4, 55, 120);
  text-shadow: 1px 1px 2px rgb(4, 55, 120);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .linkedin:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .linkedin:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(10, 102, 194, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(10, 102, 194);
  text-shadow: 1px 1px 2px rgb(10, 102, 194);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .instagram:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .instagram:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(244, 10, 154, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(244, 10, 154);
  text-shadow: 1px 1px 2px rgb(244, 10, 154);
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .youtube:hover {
  transition: 0.4s;
}
footer #footerSec .footerContent .containerOne .contentOne .textContent .socialMedia .youtube:hover i {
  transition: 0.4s;
  background-image: linear-gradient(rgba(246, 0, 0, 0.824), rgba(0, 0, 0, 0.4));
  box-shadow: 4px 4px 10px rgb(246, 0, 0);
  text-shadow: 1px 1px 2px rgb(246, 0, 0);
}
footer #footerSec .footerContent .containerOne .contentTwo {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  gap: 25px;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent h3 {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories {
  display: flex;
  justify-content: space-between;
  width: 130%;
  align-items: center;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partOne {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partOne a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partOne a:hover {
  transition: 0.4s;
  text-shadow: 1px 1px 2px rgba(255, 47, 15, 0.6666666667);
  color: #ff2f0f;
  transition: 0.4s;
  border-bottom: 1px solid rgba(255, 47, 15, 0.6666666667);
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partTwo {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partTwo a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
footer #footerSec .footerContent .containerOne .contentTwo .textContent .bestCategories .partTwo a:hover {
  transition: 0.4s;
  text-shadow: 1px 1px 2px rgba(255, 47, 15, 0.6666666667);
  color: #ff2f0f;
  border-bottom: 1px solid rgba(255, 47, 15, 0.6666666667);
}
footer #footerSec .footerContent .containerOne .contentThree {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  gap: 25px;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent h3 {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent .mapContent {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent .mapContent a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
footer #footerSec .footerContent .containerOne .contentThree .textContent .mapContent a:hover {
  transition: 0.4s;
  text-shadow: 1px 1px 2px rgba(255, 47, 15, 0.6666666667);
  color: #ff2f0f;
  border-bottom: 1px solid rgba(255, 47, 15, 0.6666666667);
}
footer #footerSec .footerContent .containerTwo {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  background-color: #0b704e;
}
footer #footerSec .footerContent .containerTwo .content .textContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer #footerSec .footerContent .containerTwo .content .textContent p {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 0;
  padding: 10px;
}

main #loginsec {
  width: 100%;
  max-width: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/assets/Media/Images/Joker_banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(20px);
}
main #loginsec .secContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #loginsec .secContent .containerOne .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #loginsec .secContent .containerOne .content .formBox {
  position: relative;
  width: 420px;
  height: 500px;
  background: transparent;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid transparent; /* Başlangıçta border'ı şeffaf olarak ayarlayın */
  animation: color 7s linear infinite; /* Animasyonu formBox sınıfına uygulayın */
}
main #loginsec .secContent .containerOne .content .formBox form {
  position: absolute;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main #loginsec .secContent .containerOne .content .formBox form h2 {
  font-size: 48px;
  color: #f5f5f5;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "Marcellus", serif;
  text-shadow: 0 0 10px white;
  transition: 0.4s;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #1d1d1d;
  font-weight: 500;
  pointer-events: none;
  color: transparent;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox input:focus ~ label,
main #loginsec .secContent .containerOne .content .formBox form .inputBox input:valid ~ label {
  top: -5px;
  color: white;
  text-shadow: 2px 2px 2px #0b704e;
  font-size: 0.9em;
  transition: 0.4s;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  font-weight: 600;
  color: #f5f5f5;
  position: relative;
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 3;
  box-shadow: 0px 2px 0px 0px transparent;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox input::placeholder {
  transition: 1s;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox input:focus {
  outline: none;
  box-shadow: 0px 2px 0px 0px #0b704e;
  border-bottom: 1px solid transparent;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox input:focus::placeholder {
  color: transparent;
  transition: 0.4s;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox i {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #1d1d1d;
  line-height: 57px;
}
main #loginsec .secContent .containerOne .content .formBox form .inputBox #toggle {
  position: absolute;
  top: 70%;
  right: 35px;
  transform: translateY(-50%);
  background: url("/assets/Media/Images/eye_off.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 4;
}
main #loginsec .secContent .containerOne .content .formBox form .rememberForgot {
  font-size: 0.9em;
  color: #1d1d1d;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
main #loginsec .secContent .containerOne .content .formBox form .rememberForgot label {
  position: relative;
  color: white;
  font-weight: 100;
}
main #loginsec .secContent .containerOne .content .formBox form .rememberForgot a {
  font-weight: 500;
  color: #1a6ed8;
  text-decoration: none;
}
main #loginsec .secContent .containerOne .content .formBox form .rememberForgot a:hover {
  text-decoration: underline;
}
main #loginsec .secContent .containerOne .content .formBox form .btn {
  margin: 10px 0;
  width: 50%;
  height: 40px;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1em;
  color: rgba(245, 245, 245, 0.3);
  font-weight: 500;
  transition: 0.4s;
}
main #loginsec .secContent .containerOne .content .formBox form .btn:hover {
  transition: 0.4s;
  width: 55%;
  background: rgba(0, 0, 0, 0.3);
  color: #f5f5f5;
}
main #loginsec .secContent .containerOne .content .formBox form .btn:active {
  transition: 0.4s;
  background: rgba(11, 112, 78, 0.5);
}
main #loginsec .secContent .containerOne .content .formBox form .loginRegister {
  font-size: 9em;
  color: #1d1d1d;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
main #loginsec .secContent .containerOne .content .formBox form .loginRegister p {
  font-size: 14px;
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 100;
  transition: 0.4s;
}
main #loginsec .secContent .containerOne .content .formBox form .loginRegister p a {
  color: #1a6ed8;
  font-weight: 700;
}
main #loginsec .secContent .containerOne .content .formBox form .loginRegister p a:hover {
  text-decoration: underline;
}
main #loginsec .secContent .containerOne .content .formBox form:hover h2 {
  text-shadow: 1px 1px 10px #0b704e;
  transition: 0.4s;
}
@keyframes color {
  0% {
    border-color: white;
  }
  20% {
    border-color: #0b704e;
  }
  40% {
    border-color: white;
  }
  60% {
    border-color: #0b704e;
  }
  80% {
    border-color: white;
  }
  100% {
    border-color: #0b704e;
  }
}